body {
  background: rgba(190, 20, 139, 0.533)3);
}
main {
        
  column-count:4;
column-gap: 3em;
column-rule: 1px solid #bbb;
column-width: 140px;
}

h1 {
  column-span:all;
}

img {
  display:block;
  column-span:all;
}