{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Ahorcado!</h1>
  <p class="lead">
  El Ahorcado es un juego de adivinanzas de lápiz y papel, hoy transformado en formato Web. 
   </p>
  <p class="lead">
    El sistema pensara en una palabra, y el jugador tratara de adivinarla arriesgando letras o palabras en la menor cantidad de intentos posibles.
  </p>
  <p class="lead">
    Cada vez que el jugador falle en una letra, perdera intentos, en caso de quedar sin intentos o arriesgar una palabra incorrecta quedara ¡AHORCADO!
  </p>
  <div>
    <div>
      <a class="btn btn-primary btn-lg" href="{{ url_for('play') }}" role="button">Juguemos</a>
    </div>
  </div>
</div>

{% endblock%}
